    header.masthead {
    background-color: #1b2225;;
}

header.masthead .overlay {
    opacity: 0;
}
.notes-display{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */;    
    width: 100%;
    height: 400px;
    opacity: 0.9;
}
.notes-display p{
    text-align: center;
    color: #1b2225;
}
.notes-display h5{
    text-align: center;
    color: #1b2225;
}
.notes-display h2{
    text-align: center;
}
.checker{
    margin-bottom: 30px;
}
.clearfix{
    margin-bottom: 100px;
}
.post-title{
    color: #fff;
    opacity: 1;
}
.showme{
    width: 100%;
    height: 100%;
    background-color: #cdff8e;
    display: none;
}
.showme h2{
    color: #1b2225;
}
.real{
    color: #fff;
}
.notes-display:hover{
    cursor: pointer;
}
.notes-display:hover .showme{
    display: block;
}
.notes-display:hover .real{
    display: none;
}

